/* SAF BREACH plugin
			
	Description:
	Plugin umo¿liwia otwieranie drzwi ³adunkami, strza³em z broni lub otwo¿yæ zamek narzêdziami.
			
	
*/

/* BREACH Settings */

class BREACH 
	{	
		useBreach = 1; //< 0 script off, 1 script on
		//closeFix = 1; //< try to use it if script dont work on some maps like N`ziwasogo.
		//customDoorNames[] = {"vrata1","vrata2"}; //< use to define custom door names if script dont work
		
		allowLockPick = 1; //< 0-no, 1 -yes
		
		allowGunBreach = 1; //< 0-no, 1-yes
		gunClasses[] = {"rhs_weap_M590_8RD","rhs_weap_M590_5RD"}; //< classes of guns that allowed to breach doors. RHS shotgun default.
		
		allowExplosiveBreach = 1; 
		
		
		/* Zones with locked doors */
		class lockDoor {
			
			class zone_1 //< custom zone name
			{
				zone = "mrk_zone_lockDoor_1"; //< marker (rectangle or elipse) that covers zone
				closeDoors = 1; //<1- close all doors in zone, 0- do nothing
				lockAll = 0; //< 1- lock all closed doors in zone, 0-lock random closed doors
			};
		};
	};
